[submodule "third_party/greatest"]
	path = third_party/greatest
	url = https://github.com/silentbicycle/greatest.git
[submodule "third_party/sqlite3"]
	path = third_party/sqlite3
	url = https://github.com/rakhack/sqlite3-cmake
